{% extends 'tweets/base.html' %}



{% block content %}
<div class="row text-center " >
    <div class="col">
        <h2>Welcome to TweetTime </h2>
    </div>  
</div>


<div class = ' container row' id = 'tweets' >
    Replace me
</div>

<script>
    const tweetsElement = document.getElementById('tweets')
    tweetsElement.innerHTML  = 'loading....'
    const xhr = new XMLHttpRequest();
    xhr.responseType = "json";

    function handleDidLike(tweet_id, currentCount){
        //console.log(tweet_id , currentCount)
        return currentCount += 1

    }

    function Likebtn(tweet){
            return "<button class = 'btn btn-primary btn-sm' onclick = handleDidLike(" + tweet.id + "," + tweet.likes +") > " + tweet.likes  + " likes </button>"
    }

    function formatTweetElement(tweet){
        formatted_tweet = "<div class = 'col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet id = 'tweet- " + tweet.id 
        + "'><p>" + tweet.content +
            "</p> <div class = 'btn-group'> " + Likebtn(tweet) 
        + " </div> </div>"
        return formatted_tweet
    }


    xhr.open('GET','/tweets');
    xhr.onload = function(){
       listedItems = xhr.response
       resultTweets = "";
       for (i = 0 ; i<listedItems.length ; i++){
           tweetobj = formatTweetElement(listedItems[i])
           resultTweets += tweetobj
       }
       tweetsElement.innerHTML = resultTweets
    }

   xhr.send()
</script>


{% endblock content %}